<p class="bg-primary">views/pets/show.html.erb</p>

<h3>Information about <%= @pet.name %></h3>

<div id='pet-info-container'>
  <p><strong>ID:</strong> <%= @pet.id %></p>
  <p><strong>Name:</strong> <%= @pet.name %></p>
  <p><strong>Breed:</strong> <%= @pet.breed %></p>
  <p><strong>Age:</strong> <%= @pet.age %></p>
  <p><strong>Cute:</strong> <%= @pet.cute %></p>
</div>

<div id='pet-toys-link-container'>
  <%= link_to "View all of #{@pet.name}'s toys", pet_toys_path(@pet) %>
</div>
